<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather data API</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Your content goes here -->
<div class="container">
        <div class="row">
            <div class="col">
                <h1>Weather data API</h1>
                <p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
                <p>URL example: http://127.0.0.1:5000/api/v1/24/2022-02-24</p>
                <p>URL example for all historical data for one station id: http://127.0.0.1:5000/api/v1/24</p>
                <p>URL example for all historical data for the given station id, for the given year:
                http://127.0.0.1:5000/api/v1/annual/24/2022</p>
                <p>{{data|safe}}</p>
            </div>
        </div>
    </div>
</body>
</html>